.place__button {
    max-width: 22px;
    width: 100%;
    border: none;
    background: inherit;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../../../images/like.svg);
    margin-right: 5px;
}

.place__button:hover {
    opacity: 0.5;
}
