.profile__subtitle {
    font-weight: 400;
    font-size: 18px;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 336px;
    height: 18px;
    margin: 7px auto 0;
    overflow: hidden;
}

@media screen and (max-width: 768px) {
    .profile__subtitle {
        max-width: 282px;
        text-align: center;
    }
}

@media screen and (max-width: 425px) {
    .profile__subtitle {
        font-size: 14px;
        margin-top: 0;
    }
}
