.popup__container_image {
    position: relative;
    display: flex;
    flex-direction: column;
    width: auto;
    max-width: 75vw;
    max-height: 75vh;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 15%);
    border-radius: 10px;
    margin: 40px;
}

@media screen and (max-width: 505px) {
    .popup__container_image {
        height: 299px;
    }
}
